*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(/images/pexels-rodnae-productions-6936081.jpg);
    background-repeat: no-repeat;
    background-color: cover;
    font-family: 'Poppins', sans-serif;
}
#logo{
    width: 10%;
    margin-left: 0;
    margin-top: 1rem;
}
.hero{
    font-size: 80px;
    max-width: 5px;
    font-weight: 700;
}
h2{
    font-size: 20px;
}
img{
    width: 20%;
    margin: auto;
   margin-top: 70%;
}
.form-group{
    color: #fff;
}
h3{
    color: #fff;
}
@media screen and (max-width: 1080px) {
    .hero {
      font-size: 30px;
    }
    img{
        margin-top:5% ;
    }
  }
    